@import "https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto+Mono:400;500";

.header{
	display:flex;
	width:80%;
	max-width:100%;
	margin:auto;
}
.navbar {
display:flex;

margin-left:auto;
}
.nbitem {
display: inline-flex;
margin: 10px;
font-size: 0.8em;
font-family: montserrat;

font-weight: bolder;
}
.nbitem a{
text-decoration:none;
color: gray;
}
.nbitem a:hover{
text-decoration:none;
color: #ff5858;
}
.sitename{
    display: flex;
    font-size: 2em;
    font-weight: bolder;
    font-family: roboto mono;
    font-size: 1.46em;
}

p{
text-align:center;
width:50%;
margin:auto;
font-family:montserrat;
font-weight:light;
}

.nbitem {
    display: inline;
    margin: 10px;
    font-size: 0.8em;
    font-family: montserrat;
    padding-left: 16px;
    font-weight: bolder;
}

.boxspace{
	display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
    justify-content: space-between;
}
.box{
  width:30%;
  border:solid;
  border-color:gray;
  border-width:1px;
  border-color:gray;
  margin : 1.6% auto;
}

.box img{
	width:100%;
}
.box h4{
	text-align: center;
	font-size: 0.8em;
	margin:0.8em auto;

}
.box h4 a{
	text-decoration:none;
	color: gray;
	color: gray
}
.box h4 a:hover{
	text-decoration:none;
	color: #ff5858;
}
.box h5
{
	text-align: center;
	font-size: 0.6em;
	text-decoration:none;
	color: gray;
	margin:1em auto;
}




.cbutton {
  margin: 10px 0 7px 0;  position: relative;
  left: 50%;
  -ms-transform: translate(-50%,0);
  transform: translate(-50%,0);
  border: none;
  background-color: #ff5858;
  color: white;
  padding: 0.7em 2em;
}
.cbutton:focus {
  border: solid;
  border-color:#ff5858;
  border-width:1px;
  background-color: white;
  color: black;
}
.footer{
	display:flex;
	margin:10px auto;
	width:80%;
	font-size:0.8em;
}
.left-footer{
	text-align:left;
}
.right-footer{
	margin-left:auto;
	text-align:right;
}
